

.heading{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-style: bold;
    font-style: italic;
    animation: forwards;
}



.para{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
   
}