

.outer_div{
    border: 2px;
    border-style: solid;
    border-radius: 2px;
    padding: 8px;
}

.background_img{
    background-image: url('../resource/image.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    max-width: 70%;
    height: 43em; 
    margin: 40px;
}

.inner_Div{
    padding: 8px; 
}

.button{
    background-color: #6C63FF;
}

.border_div{
   border: 3px;
   width: fit-content;
   height: fit-content;
   margin-top: 20px;
  
}

.background_img_candidate{
    background-size: contain;
    background-position: center;
    background-attachment: scroll;
    max-width: fit-content;
    height: fit-content; 
    position: relative;
    left: 10%;
    background-repeat: no-repeat;
    margin: 50px;
    box-shadow: #6C63FF;
}

.icon_img{
    height: 35%;
    width: 35%;
}

.background_color{
    background-color: rgb(209, 255, 255);
    width: fit-content;
}

.para{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin: 40px;
    margin-left: 0;
    position: relative;
   
}

.background_img_company{
    background-size: contain;
    background-position: center;
    background-attachment: scroll;
    max-width: fit-content;
    height: fit-content; 
    position: relative;
    left: 60%;
    background-repeat: no-repeat;
    margin: 50px;
    box-shadow: #6C63FF;
}